In [5]:
s=0
i=10
while i < 21 :
    #print(i,i**3)
    s = s + i**3
    i = i + 1
print(s)

42075

In [11]:
#en vrai python
print([i for i in range(10,21)])
print([i**3 for i in range (10,21)])
print(sum([i**3 for i in range (10,21)]))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]
42075

In [12]:
#1.2
s=0
i=10
print(sum([(2*i+5)**2 for i in range(10)]))
print([i for i in range(10)])
print([(2*i+5)**2 for i in range(10)])

2290
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[25, 49, 81, 121, 169, 225, 289, 361, 441, 529]

In [20]:
#1.3
print(sum([(5*i)**2 for i in range (2,201)]))
print([(5*i)**2 for i in range (2,201)])

#on aurait pu faire 
#sum([i**2 for i in range (10,1001) if i%5==0])

67167475
[100, 225, 400, 625, 900, 1225, 1600, 2025, 2500, 3025, 3600, 4225, 4900, 5625, 6400, 7225, 8100, 9025, 10000, 11025, 12100, 13225, 14400, 15625, 16900, 18225, 19600, 21025, 22500, 24025, 25600, 27225, 28900, 30625, 32400, 34225, 36100, 38025, 40000, 42025, 44100, 46225, 48400, 50625, 52900, 55225, 57600, 60025, 62500, 65025, 67600, 70225, 72900, 75625, 78400, 81225, 84100, 87025, 90000, 93025, 96100, 99225, 102400, 105625, 108900, 112225, 115600, 119025, 122500, 126025, 129600, 133225, 136900, 140625, 144400, 148225, 152100, 156025, 160000, 164025, 168100, 172225, 176400, 180625, 184900, 189225, 193600, 198025, 202500, 207025, 211600, 216225, 220900, 225625, 230400, 235225, 240100, 245025, 250000, 255025, 260100, 265225, 270400, 275625, 280900, 286225, 291600, 297025, 302500, 308025, 313600, 319225, 324900, 330625, 336400, 342225, 348100, 354025, 360000, 366025, 372100, 378225, 384400, 390625, 396900, 403225, 409600, 416025, 422500, 429025, 435600, 442225, 448900, 455625, 462400, 469225, 476100, 483025, 490000, 497025, 504100, 511225, 518400, 525625, 532900, 540225, 547600, 555025, 562500, 570025, 577600, 585225, 592900, 600625, 608400, 616225, 624100, 632025, 640000, 648025, 656100, 664225, 672400, 680625, 688900, 697225, 705600, 714025, 722500, 731025, 739600, 748225, 756900, 765625, 774400, 783225, 792100, 801025, 810000, 819025, 828100, 837225, 846400, 855625, 864900, 874225, 883600, 893025, 902500, 912025, 921600, 931225, 940900, 950625, 960400, 970225, 980100, 990025, 1000000]

In [33]:
#1.4
def fact(n):
    print("fact(%s)?" %n)
    if n==0:
        return 1
    else:
        return n*fact(n-1)
print(fact(10))

fact(10)?
fact(9)?
fact(8)?
fact(7)?
fact(6)?
fact(5)?
fact(4)?
fact(3)?
fact(2)?
fact(1)?
fact(0)?
3628800